@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

html, body, #root {
  height: 100%;
}

.headerklasa {
  height: 75%;
}

.titl {
  font-family: 'Chelsea Market';
}

.stripes {
  background-image: linear-gradient(to right, #F66572aa, #F66572aa 20%, #F4B6BBaa 20%, #F4B6BBaa 40%,#FDE09Caa 40%, #FDE09Caa 60%,#88C1F6aa 60%, #88C1F6aa 80%,#666666aa 80%, #666666aa 100%);
}

.crnitekst {
  color: #000;
  background-color: #fff;
  padding: 0.75em;
  opacity: 1;
}

.crnitekst.big {
  width: auto;
}

.malogore {
  transform: translateY(-50%);
}

.ljudi {
  max-width: 60%;
}

.osoba {
  -webkit-box-shadow: 10px 21px 34px -23px rgba(0,0,0,0.61);
  -moz-box-shadow: 10px 21px 34px -23px rgba(0,0,0,0.61);
  box-shadow: 10px 21px 34px -23px rgba(0,0,0,0.61);  
  transition: all 100ms linear;
}

.osoba:hover {
  -webkit-box-shadow: 10px 21px 34px -15px rgba(0,0,0,0.61);
  -moz-box-shadow: 10px 21px 34px -15px rgba(0,0,0,0.61);
  box-shadow: 10px 21px 34px -15px rgba(0,0,0,0.61);
  transform: translate(-0.3rem, -0.3rem);
  transition: all 100ms linear;
}

.timeline {
  position: relative;
  margin: 0 auto;
  width: 90%;
  
}

.timeline ul li {
  margin-bottom: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.timeline ul {
  padding: 0px;
}

.point {
  min-width: 20px;
  height: 20px;
  background-color: #F4B6BB;
  border-radius: 100%;
  z-index: 2;
  border: 3px #333333 solid;
  position: relative;
  left: 1px;
}

.timeline ul li .content {
  width: 50%;
  padding: 0 20px;
}

.timeline ul li:nth-child(odd) .content {
  padding-left: 0;
}

.timeline ul li:nth-child(odd) .date {
  padding-right: 0;
}

.timeline ul li:nth-child(even) .content {
  padding-right: 0;
}

.timeline ul li:nth-child(even) .date {
  padding-left: 0;
}

.timeline ul li .date {
  width: 50%;
  padding: 0 20px;
  font-weight: normal;
}

.timeline ul li .date p {
  background-color: #F66572aa;
  width: fit-content;
  text-align: center;
  padding: 5px 10px;
  border-radius: 10px;
}

.timeline ul li:nth-child(5n) .date p {
  background-color: #F66572aa;
}

.timeline ul li:nth-child(5n+1) .date p {
  background-color: #F4B6BBaa;
}

.timeline ul li:nth-child(5n+2) .date p {
  background-color: #FDE09Caa;
}

.timeline ul li:nth-child(5n+3) .date p {
  background-color: #88C1F6aa;
}

.timeline ul li:nth-child(5n+4) .date p {
  background-color: #666666aa;
}

.timeline ul li .content h6 {
  padding: 10px 20px;
  margin-bottom: 0;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.timeline ul li:nth-child(5n) .content h6 {
  background-color: #F66572aa;
}

.timeline ul li:nth-child(5n+1) .content h6 {
  background-color: #F4B6BBaa;
}

.timeline ul li:nth-child(5n+2) .content h6 {
  background-color: #FDE09Caa;
}

.timeline ul li:nth-child(5n+3) .content h6 {
  background-color: #88C1F6aa;
}

.timeline ul li:nth-child(5n+4) .content h6 {
  background-color: #666666aa;
}

.timeline ul li .content p {
  background-color: #ede3fa77;
  margin-top: 0;
  padding: 0.7rem 1.3rem;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

a.bijelo {
  text-decoration: underline;
  color: white;
}

.timeline ul li:nth-child(even) {
  flex-direction: row-reverse;
}

.timeline ul li:nth-child(even) .date p {
  float: right
}

.timeline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  left: 50%;
  background-color: #333333;
}

.footer {
  background-color: #2E4053;
  color: #fff;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

@media only screen and (max-width: 768px) {
  .headerklasa {
    height: 100%;
  }

  .crnitekst.big {
    width: 100%;
  }

  .ljudi {
    max-width: 100%;
  }
}